/* for all the page of Assocuataion Form*/
*{
    margin:0px;
    padding: 0px;
}

/*organizes what is into the body to be at center of the page  */
#bodyAssocaitaion{
    display: block;
    text-align: center;
}

.video{   
    display: block;   
    margin: 0 auto;
    height: 600px;
    width: 80%;
}

#formS{
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    text-align: left;
    border: 6px solid black;
    padding-left: 1%;
    padding-right: 1%;
    width:80%
  
}

/*The first section into the forms*/
#one{
    border-bottom: 2px solid;

}

#video{   
    margin: 1%;
    height: 600px;
    width:80%
}

/*information about the assocation */
#secArticle{
    padding-left: 15px;
    margin:auto;
    font-style: italic;
    font-size:large;
    overflow: auto;
    width:80%;
}

.secArticle2{
    background-color:brown;
}

/* for each input in the form */
.question{overflow: auto;
    margin-bottom: 25px;
}


.lbl{
display: block;
padding-right: 10px;
padding-left: 22px;
text-indent: -22px;
}

/*The information that is filled out in the form */
.inputt{
float:left ;
    width:40%;
    background-color:white;
    opacity: 1.0;
    color: black;
    
    
}

/*All the checkbox buttons in the same style */
.checkboxx{
width: 13px;
height: 13px;
padding: 0;
margin:0;
vertical-align:middle;
position: relative;
top: -1px;
*overflow: hidden;
}

/*All radio buttons in the same style */
.radio{
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align:middle;
    position: relative;
    top: -1px;
    *overflow: hidden;    
    }

input:invalid {
    border: red solid 3px;
}

input ~ .alert {
    display: none;
}

input:invalid ~ .alert {
    display: block;
}