.associations{
    margin-top: 2%;
}

.diving{
    margin: 2%;
    border: 30cm cornflowerblue;
}

#img1{
    height: 100px;
    width: 300px;
    margin-left: 15%;
    margin-top: 5%;


}

.P{
    text-align: center;
    font-size:larger;
    font-style: italic;
    font-family: Arial;
}

#img2{
    height: 110px;
    width: 140px;
    margin-left: 33%;
    margin-top: 5%;


}

#img3{
    height: 200px;
    width: 300px;
    margin-left: 18%;
    margin-top: 5%;

}

#img4{
    height: 180px;
    width: 300px;
    margin-top: 5%;
    margin-left: 18%;
    
}

#img5{
    height: 100px;
    width: 300px;
    margin-left: 18%;
    margin-top: 5%;

}

#img6{
    height: 100px;
    width: 300px;
    margin-left: 18%;
    margin-top: 5%;
}

a{
    text-align: center;
    font-size:larger;
    color: black;
    font-family: Arial;
}

@media screen and (max-width: 1000px) {

    section{width: 100%;}
    header{width: 100%;}
    .diving{width: 100%;}
    article{width: 100%}
    #img1{width: 100%;}
    #img2{width: 100%;}
    #img3{width: 100%;}
    #img4{width: 100%;}
    #img5{width: 100%;}
    #img6{width: 100%;}
    .P{width: 100%;}
}

@media screen and (max-width: 990px) {
    
    
    section{width: 140%;}
    header{width: 140%;}
    .diving{width: 140%;}
    article{width: 140%}
    #img1{width:  50%;}
    #img2{width:  45%;}
    #img3{width:  80%;}
    #img4{width:  45%;}
    #img5{width:  45%;}
    #img6{width:  45%;}
    .P{width: 100%;}	
}


