#headline{
  text-align: center;
  text-decoration: underline;
  margin-top: 2%;
  font-size: 250%;
}
  
.opacity-50 { opacity: .5; }

.list-group {
  width: auto;
  max-width: 600px;
  margin: 4rem auto;
}

.list-group-checkable {
  display: grid;
  gap: .5rem;
  border: 0;
}

.list-group-checkable .list-group-item {
  cursor: pointer;
  border-radius: .5rem;
}

.list-group-item-radio {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.list-group-item-radio:hover + .list-group-item {
  background-color: rgb(236, 236, 236);
}

.list-group-item-radio:checked + .list-group-item {
  color: #fff;
  background-color: rgb(12, 117, 238);
}

.list-group-item-radio[disabled] + .list-group-item,
.list-group-item-radio:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}

.questions{
  display: none;
  max-height: 100%;
  font-size: large;
  padding: 10px 20px;
}

.ques{
  text-decoration: none;
  color: black;
  font-size: larger;
}

.ques:hover{
  font-weight: bold;
  font-size: large;
  font-style: italic;
  font-size: 105%;
}

.answer{
  margin-bottom: 3%;
  color: rgb(48, 119, 212);
  display: none;
  font-size: large;
}

