#headline{
  text-align: center;
  text-decoration: underline;
  margin-top: 2%;
  font-size: 250%;
}
  
.opacity-50 { opacity: .5; }

.list-group {
  width: auto;
  max-width: 600px;
  margin: 4rem auto;
}

.list-group-checkable {
  display: grid;
  gap: .5rem;
  border: 0;
}
.list-group-checkable .list-group-item {
  cursor: pointer;
  border-radius: .5rem;
}
.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.list-group-item-check:hover + .list-group-item {
  background-color: var(--bs-light);
}
.list-group-item-check:checked + .list-group-item {
  color: #fff;
    background-color: var(--bs-blue);
}
.list-group-item-check[disabled] + .list-group-item,
.list-group-item-check:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
}

input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100%;
  overflow: visible;
  padding: 10px 20px;
  transform: scale(1);
}

.ques{
  text-decoration: none;
  color: black;
  font-size: larger;
}

.ques:hover{
  font-weight: bold;
  font-size: 105%;
}

.answer{
  margin-bottom: 3%;
  color: rgb(48, 119, 212);
  display: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}

