.video{   
     margin: 1%;

     height: 600px;

}

.news {
    margin: 4px;
    padding: 12px;
   }
  
.news > h1 {
  margin: 12px;
  padding: 9px;
}
  
.news>article>h2, .news>article>p, .news>article>a {
  padding-left: 12px;
  padding-right: 12px;
  margin: 15px;
  font-size: 95%;
}


  