.video{   
    display: block;   
    margin: 0 auto;
    height: 600px;
    width: 80%;
}

.graph{
  width: 100%;
  height: 500px;
}

.news {
    margin: 4px;
    padding: 12px;
   }
  
.news > h1 {
  margin: 12px;
  padding: 9px;
}
  
.news>article>h2, .news>article>p, .news>article>a {
  padding-left: 12px;
  padding-right: 12px;
  margin: 15px;
  font-size: 95%;
}


  