/* this is a css that apllies to all pages in our website */

*{
    font-family: ' Calibri';
    box-sizing: border-box;
}

body{
    background-color: rgba(212, 220, 228, 0.479);
}

[class*="col-"] {
	float: left;
}

.headImg{
    height: 300px;
    width: 100%;

}

.navbar{
    background-color: rgb(214, 216, 218);
    font-size: 30px;
    padding: 0%;
}

.navbar > a, .navbar > div{
  color: black;
  text-decoration: none;
  background-color: rgb(214, 216, 218);
}

.navBarSpace{
  margin-right: 20px;
  padding: 8px;
}

a[href="#"]:hover{
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

