*{
    font-family: ' Calibri';
    background-color: rgba(212, 220, 228, 0.479);
    box-sizing: border-box;

}

[class*="col-"] {
	float: left;
}

.headImg{
    margin: 1%;
    height: 370px;
    width: 1500px;

}

.navbar{
    background-color: rgb(214, 216, 218);
    font-size: 30px;
    padding: 0%;
}

.navbar > a, .navbar > div{
  color: black;
  text-decoration: none;
  background-color: rgb(214, 216, 218);
}

.navBarSpace{
  margin-right: 20px;
  padding: 8px;
}


@media screen and (max-width: 1000px) {

    .graphs{
        display: block;
        width: 100%;
    }

    .articles{
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .graphs{
        display: block;
        width: 100%;
    }

    .articles{
        display: block;
        width: 100%;
    }
}
